@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

@font-face {
  font-family: "Minecraftia";
  src: url("./fonts/Minecraftia-Regular.ttf");
}

body {
  font-family: 'Minecraftia', monospace;
}

p {
  text-align: center;
}

h1 {
  color: white;
  font-family: "Minecraftia", sans-serif;
  font-size: 18px;
  line-height: 30px;
  word-wrap: break-word;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-div {
  position: absolute;
  margin-top: -100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inside .five {
  position: relative;
}

.scroller {
  background-color: #eff7ff;
  background-size: 400px 400px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
}

.page {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: top;
  font-size: initial;
}

.inside {
  opacity: 0.95;
  width: 100vw;
  /* margin: 8vh 0 0 0vw; */
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100vw;
  height: 100vh;
  background-color: #9999ff;
  vertical-align: top;
  position: absolute;
  animation: fadein 8s;
}

.overlay {
  position: absolute;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgba(53, 55, 177, 0.9);
  padding: 50px;
  border-radius: 2px;
  left: 100em;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1s forwards, fadein 2s, pulse 2s infinite;
  animation-delay: 1s;
}

.projects-button {
  position: absolute;
  background-color: rgba(0, 240, 240, 0.9);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 50%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 50%, 0% 75%, 0% 25%);
  padding: 25px 30px 65px 30px;
  width: 160px;
  text-align: center;
  border-radius: 2px;
  top: -100em;
  -webkit-animation: slide-top 1s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-top 1s forwards, fadein 2s;
  animation-delay: 2s;
}

.about-button {
  position: absolute;
  background-color: hsla(200, 100%, 70%, 1);
  -webkit-clip-path: polygon(100% 0%, 100% 50%, 50% 75%, 0 50%, 0 0, 50% 25%);
  clip-path: polygon(100% 0%, 100% 50%, 50% 75%, 0 50%, 0 0, 50% 25%);
  bottom: -100em;
  padding: 45px 30px 45px 30px;
  width: 160px;
  text-align: center;
  -webkit-animation: slide-bottom 0.5s forwards;
  -webkit-animation-delay: 3s;
  animation: slide-bottom 1s forwards, fadein 2s;
  animation-delay: 3s;
}

.projects-button:hover {
  transform: scale(1.1);
}

@keyframes slide-top {
  100% {
    top: -11em;
  }
}

@-webkit-keyframes slide-top {
  100% {
    -webkit-top: -11em;
  }
}

@keyframes slide-bottom {
  100% {
    bottom: -210px;
  }
}

@-webkit-keyframes slide-top {
  100% {
    -webkit-bottom: -210px;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #66ffff;
  margin: 10px;
  height: 100vh;
  flex-grow: 0;
}

.box-1 {
  align-self: center;
  margin-left: 5px;
}

.box-2 {
  align-self: center;
  margin-right: 5px;
}

.app-card-container {
  display: flex;
  flex-wrap: wrap;
}

.app-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ff5050;
}

.inside.one h1 {
  color: black;
}

.triangle-topleft {
  background-color: black;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  z-index: 10;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  100% {
    left: -193px;
  }
}

@keyframes slide {
  100% {
    left: -193px;
  }
}

@media only screen and (max-width: 414px) {
  .overlay {
    background-color: rgba(53, 55, 177, 0.9);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    left: 100em;
  }

  @-webkit-keyframes slide {
    100% {
      left: -10em;
    }
  }

  @keyframes slide {
    100% {
      left: -10em;
    }
  }
}
