p {text-align: center;}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: teal;
}

.box-1 {
  align-self: center;
  margin-left: 5px;
}

.box-2 {
  align-self: center;
  margin-right: 5px;
}
